{% extends "base.html"%}
{% load i18n %}

{% spaceless %}

{% block navbar %}
    {% include "navbar_recruiter.html" %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Add scorecard template" %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <form action="{% url 'add_scorecard_template' %}" method="post"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p>{{ form.non_field_errors }}</p>
                                    <p>{{ form.errors }}</p>
                                    <div class="form-group">
                                        <input class="form-control" id="id_name" maxlength="50" name="name" type="text" placeholder='{% trans "Name" %}' />
                                    </div>
                                    {% with ''|center:10 as range %}
                                    {% for _ in range %}
                                        <div class="form-group">
                                            <input class="form-control" id="id_field{{ forloop.counter }}" maxlength="50" name="field{{ forloop.counter }}" type="text" placeholder='Field_{{ forloop.counter }}' />
                                        </div>
                                    {% endfor %}
                                    {% endwith %}
                                    <input type='hidden' id='id_created_by' name='created_by' value="{{ eid }}" />
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block foot_scripts %}

{% endblock %}

{% endspaceless %}