{% extends "base.html"%}
{% load i18n %}

{% spaceless %}

{% block navbar %}
    {% include "navbar_recruiter.html" %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        
        <div class="row">
            <br>
            <div class="col-lg-12">
                <h2>{{interviewer.last_name}} {{interviewer.first_name}}</h2>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{interviewer.title}}</p>
                        <p>{{interviewer.department}}</p>
                        <p>{{interviewer.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% endspaceless %}