{% load i18n %}

<div class="dataTable_wrapper">
    <table class="table table-striped table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>{% trans 'Interviewer' %}</th>
                <th>{% trans 'Interview Date' %}</th>
                <th>{% trans 'Start Time' %}</th>
                <th>{% trans 'End Time' %}</th>
                <th>{% trans 'Status' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for int in interviews %}
            <tr class="odd gradeX">
                <td class="center">{{int.interviewer.last_name}} {{int.interviewer.first_name}}</a></td>
                <td class="center">{{int.interview_date}}</td>
                <td class="center">{{int.start_time}}</td>
                <td class="center">{{int.end_time}}</td>
                <td class="center">{{int.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>