{% extends "base.html"%}
{% load i18n %}

{% spaceless %}

{% block navbar %}
    {% include "navbar_recruiter.html" %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        
        <div class="row">
            <br>
            <div class="col-lg-12">
                <h2>{{job.title}}</h2>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{job.description}}</p>
                    </div>
                </div>
                <label>{% trans "Valid until: " %}</label><p>{{job.expire_date}}</p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% endspaceless %}