{% load i18n %}
{% load customtags %}

<div class="dataTable_wrapper">
    <table class="table table-striped table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>{% trans 'Job ID' %}</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Category' %}</th>
                <th>{% trans 'Level' %}</th>
                <th>{% trans 'Salary Range' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr class="odd gradeX">
                <td class="center">{{job.id}}</td>
                <td class="center">{{job.title}}</td>
                <td class="center">{% with cat=job_categories|keyvalue:job.area %}{% trans cat %}{% endwith %}</td>
                <td class="center">{% with level=skill_levels|keyvalue:job.level %}{% trans level %}{% endwith %}</td>
                <td class="center">{{job.salary_low}}-{{job.salary_high}}</td>
                <td class="center"><a href="{% url 'job_detail' jobid=job.id %}">{%trans "Details" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>