{% extends "base.html"%}
{% load i18n %}
{% load static from staticfiles %}

{% spaceless %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload-ui.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.min.css' %}">
{% endblock %}

{% block navbar %}
    {% include "navbar_recruiter.html" %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Add Employee" %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <form action="{% url 'update_employee' object.id %}" method="post"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p>{{ form.non_field_errors }}</p>
                                    <p>{{ form.errors }}</p>
                                    <div class="form-group">
                                        <input class="form-control" id="id_last_name" maxlength="50" name="last_name" type="text" placeholder='{% trans "Last name" %}' value={{ object.last_name }} />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="id_first_name" maxlength="50" name="first_name" type="text" placeholder='{% trans "First name" %}' value={{ object.first_name }} />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="id_title" maxlength="50" name="title" type="text" placeholder='{% trans "Title" %}' />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="id_department" maxlength="50" name="department" type="text" placeholder='{% trans "Department" %}' />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="id_email" maxlength="50" name="email" type="text" placeholder='{% trans "Email" %}' />
                                    </div>
                                    <div class="form-group">
                                        {{ form.role.errors }}
                                        <label for="{{ form.role.id_for_label }}">{% trans "Role" %}</label>
                                        {{ form.role }}
                                    </div>
                                    <input type='hidden' id='id_company' name='company' value="{{ cid }}" />
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>{% trans "Add photo" %}</span>
                                        <input id="fileupload" type="file" name="photo" multiple>
                                    </span>
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block foot_scripts %}

{% endblock %}

{% endspaceless %}
