

.form-group .error-text {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 500;
    color: #d50000;
    text-align: left;
}

#login-form .helpLink {
    width: 100%;
    max-width: 430px;
}

