{% extends "base.html"%}
{% load i18n %}
{% load static from staticfiles %}

{% block extra_js %}
    <script src="{% static 'bootstrap/js/modal.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'jQuery-File-Upload/css/jquery.fileupload-ui.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.min.css' %}">
{% endblock %}

{% spaceless %}

{% block navbar %}
    {% include "navbar_interviewer.html" %}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Application Case Detail" %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                 <div class="panel panel-default">
                     <div class="panel-heading"><h3 class="panel-title">{% trans "Applicant" %} {{candi.last_name}} {{candi.first_name}}</h3></div>
                     <div class="panel-body">
                         <div class="row">
                             <div class="col-lg-6">
                                 {{case.applicant.last_name}} {{case.applicant.first_name}}
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 {{case.applicant.current_title}}
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-6">
                                 {{case.applicant.current_company}}
                             </div>
                         </div>
                     </div>
                 </div>
                 
                 <div class="panel panel-default">
                     <div class="panel-heading"><h3 class="panel-title">{% trans "Job" %}</h3></div>
                     <div class="panel-body">
                         <div class="row">
                             <div class="col-lg-12">
                                 {{case.job.title}}
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-lg-12">
                                 {{case.job.description}}
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="panel panel-default">
                     <div class="panel-heading"><h3 class="panel-title">{% trans "Interviews" %}</h3></div>
                     <div class="panel-body">
                          {% include "interviewer_interview_table.html" with interviews=interviews %}
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% endspaceless %}