{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% spaceless %}

{% block style %}
    <style>
        html {
            background: url("{% static 'images/bg.jpg' %}") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Please Sign In" %}</h3>
                    </div>
                    <div class="panel-body" id="login-form">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group{%if form.username.errors%} error{%endif%}">
                                <input class="form-control" autofocus="" id="id_username" name="username" type="email" placeholder="{% trans 'Username' %}">
                                {% if form.username.errors %}
                                    <div class="error-text">{{form.username.errors|join:"<br/>"|default:"This field is required"}}</div>
                                {% endif %}
                            </div>

                            <div class="form-group{%if form.password.errors%} error{%endif%}">
                                <input class="form-control" id="id_password" name="password" type="password" placeholder="{% trans 'Password' %}">
                                {% if form.password.errors %}
                                    <div class="error-text">{{form.password.errors|join:"<br/>"|default:"This field is required"}}</div>
                                {% endif %}
							</div>

                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="{% trans 'Remember Me' %}">Remember Me
                                </label>
                            </div>

                            <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans 'Login' %}" />
                            <div><a href="/accounts/password/reset">Forgot Your Password? </a></div>
                            <br>
                            <div>
                                <span> Register A New Company ?
                                <a href="/accounts/register">Join now</a>
                                </span>
                            </div>

                            <input type="hidden" name="next" value="/" />



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% endspaceless %}


