{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% spaceless %}


{% block content %}
<p>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
</p>


<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>
{% endblock %}



{% endspaceless %}

{# This is used by django.contrib.auth #}
