{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% spaceless %}

{% block style %}
    <style>
        html {
            background: url("{% static 'images/bg.jpg' %}") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Please Sign In" %}</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action="">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group{%if form.old_password.errors%} error{%endif%}">
                                    <input class="form-control" id="id_password" name="old_password" type="password" placeholder="Password">
                                    {% if form.old_password.errors %}
                                        <div class="error-text">{{form.old_password.errors|join:"<br/>"|default:"This field is required"}}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group{%if form.new_password1.errors%} error{%endif%}">
                                    <input class="form-control" id="id_password" name="new_password1" type="password" placeholder="Password">
                                    {% if form.new_password1.errors %}
                                        <div class="error-text">{{form.new_password1.errors|join:"<br/>"|default:"This field is required"}}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group{%if form.new_password2.errors%} error{%endif%}">
                                    <input class="form-control" id="id_password" name="new_password2" type="password" placeholder="Password">
                                    {% if form.new_password2.errors %}
                                        <div class="error-text">{{form.new_password2.errors|join:"<br/>"|default:"This field is required"}}</div>
                                    {% endif %}
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans 'Submit' %}" />
                                <input type="hidden" name="next" value="/" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% endspaceless %}
{# This is used by django.contrib.auth #}
